<header class="site-header  u-mb">
	<div class="wrap--header">
		<a href="/">{{ theme:partial src="logo" }}</a>
<!--
		<a class="nav-toggle  nav-toggle--menu">
			<span class="nav-toggle__label">Menu</span>
			<span class="nav-toggle__icon"></span>
		</a>
-->
		<div class="button_container" id="toggle">
			<span class="top"></span>
			<span class="middle"></span>
			<span class="bottom"></span>
		</div>
		<div class="overlay" id="overlay">
			<nav class="overlay_menu">
				<ul>
					<li><a class="" href="" title="">Our Products</a></li>
					<li><a class="" href="#about-us" title="">About us</a></li>
					<li><a class="" href="#order-information" title="">Order information</a></li>
					<li><a class="" href="#news-and-events" title="">News and Events</a></li>
					<li><a class="" href="#contact" title="">Contact us</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>

<!--
		<nav class="mobile-nav  u-mb">
			<button class="toggle">
				<span>Toggle menu</span>
			</button>
			<ul>
				<li><a class="" href="/products/suprasorb-a-ag" title="">Our Products</a></li>
				<li><a class="" href="#about-us" title="">About us</a></li>
				<li><a class="" href="#order-information" title="">Order information</a></li>
				<li><a class="" href="#news-and-events" title="">News and Events</a></li>
				<li><a class="" href="#contact" title="">Contact us</a></li>
			</ul>
		</nav>
-->