<header class="site-header  u-mb">
	<div class="wrap--header">
		<a href="/">{{ theme:partial src="logo" }}</a>
		<nav class="page-nav">
			<ul>
				<li><a class="" href="/products/suprasorb-a-ag" title="">Our Products</a></li>
				<li><a class="" href="#about-us" title="">About us</a></li>
				<li><a class="" href="#order-information" title="">Order information</a></li>
				<li><a class="" href="#news-and-events" title="">News and Events</a></li>
				<li><a class="" href="#contact" title="">Contact us</a></li>
			</ul>
		</nav>
		<nav class="mobile-nav  u-mb">
			<button class="toggle">
				<span>Toggle menu</span>
			</button>
			<ul>
				<li><a class="" href="/products/suprasorb-a-ag" title="">Our Products</a></li>
				<li><a class="" href="#about-us" title="">About us</a></li>
				<li><a class="" href="#order-information" title="">Order information</a></li>
				<li><a class="" href="#news-and-events" title="">News and Events</a></li>
				<li><a class="" href="#contact" title="">Contact us</a></li>
			</ul>
		</nav>
	</div>
</header>