<header class="site-header">
	<div class="wrap--header">
		<a href="/"><img src="" title="Activa Logo" alt="Activa Logo"></a>
		<nav class="page-nav">
			<ul>
				<li><a class="" href="#our-products" title="">Our Products</a></li>
				<li><a class="" href="#about-us" title="">About us</a></li>
				<li><a class="" href="#order-information" title="">Order information</a></li>
				<li><a class="" href="#news-and-events" title="">News and Events</a></li>
				<li><a class="" href="#contact" title="">Contact us</a></li>
			</ul>
		</nav>
	</div>
</header>