<div class="layout">
	<div class="layout__item">
		<h2>Where to order</h2>
		<p class="order-subheading">Other suppliers available soon</p>
	</div>
	<div class="layout__item u-pl0  u-1/3-lap-and-up">
		<div class="order--info">
			<h3>Direct Medical Supplies</h3>
			<p>0844 888 8307</p>
			<a href="//www.dmsveterinary.com">www.dmsveterinary.com</a>
		</div>
	</div>
	<div class="layout__item  u-pl0  u-1/3-lap-and-up">
		<div class="order--info">
			<h3>Pioneer</h3>
			<p>01304 831 831</p>
			<a href="//www.pioneervet.co.uk">www.pioneervet.co.uk</a>
		</div>
	</div>
	<div class="layout__item  u-pl0  u-1/3-lap-and-up">
		<div class="order--info">
			<h3>NVS</h3>
			<p>0178 277 5555</p>
			<a href="//www.vetwholesaler.co.uk">www.vetwholesaler.co.uk</a>
		</div>
	</div>
</div>