<div class="layout  layout--center">
	<div class="where-to-order">
		<div class="layout__item">
			<h2>Where to order</h2>
			<p class="order-subheading">Other suppliers available soon</p>
		</div>
		<div class="layout__item  u-1/3-lap-and-up  order--info">
			<p>Direct Medical Supplies</p>
			<p>0844 888 8307</p>
			<a href="//www.dmsveterinary.com">www.dmsveterinary.com</a>
		</div>
		<div class="layout__item  u-1/3-lap-and-up  order--info">
			<p>Pioneer</p>
			<p>01304 831 831</p>
			<a href="//www.pioneervet.co.uk">www.pioneervet.co.uk</a>
		</div>
		<div class="layout__item  u-1/3-lap-and-up  order--info">
			<p>NVS</p>
			<p>0178 277 5555</p>
			<a href="//www.vetwholesaler.co.uk">www.vetwholesaler.co.uk</a>
		</div>
	</div>
</div>