<div class="layout  layout--center">
	<div class="where-to-order">
		<div class="layout__item">
			<h3>Where to order</h2>
			<p class="h4  order-subheading">Other suppliers available soon</p>
		</div>
		<div class="layout__item  u-1/5-lap-and-up  order--info">
			<p class="h4">Direct Medical Supplies</p>
			<h4>0844 888 8307</h4>
			<a href="//www.dmsveterinary.com">www.dmsveterinary.com</a>
		</div>
		<div class="layout__item  u-1/5-lap-and-up  order--info">
			<p class="h4">Pioneer</p>
			<h4>01304 831 831</h4>
			<a href="//www.pioneervet.co.uk">www.pioneervet.co.uk</a>
		</div>
		<div class="layout__item  u-1/5-lap-and-up  order--info">
			<p class="h4">NVS</p>
			<h4>0178 277 5555</h4>
			<a href="//www.vetwholesaler.co.uk">www.vetwholesaler.co.uk</a>
		</div>
	</div>
</div>