<section class="section  section-actiformcool">
	<div class="wrap">
		<div class="layout">
			<div class="layout__item  u-1/2-lap-and-up">
				<h1>ActiFormCool</h1>
				<p class="h2">Ionic hydrogel dressing</p>
				<p>ActiFormCool donates or absorbs moisture as the wound requires providing optimum moist wound healing conditions and minimising risk of Maceration.</p>
				<p>Cooling and soothing, used in human medicine on painful wounds. Suitable for wounds requiring hydration and protection such as fragile skin and graft sites.</p>
				<p>ActiFormCool softens dry necrotic tissue by donating moisture to aid debridement. A moist wound environment is important for granulating and epithelialising wounds.</p>
			</div>
		</div>
	</div>
</section>

<section class="section--gradient  section  u-mb++">
	<div class="wrap">
		<div class="layout  layout--center">
			<div class="layout__item  u-1/2-lap-and-up">
				<div class="t-center">
					<h2>ActiFormCool and tranditional hydrogel humidity cycle</h2>
					<p>The chart below shows the eect when ActiFormCool® and a traditional hydrogel were monitored in a humidity chamber as changes were made to the relative humidity.</p>
				</div>
			</div>
		</div>
		<div class="layout">
			<div class="layout__item">
				<img src="/assets/img/actiformcool/actiformcool-graph.png" title="" alt="">
			</div>
		</div>
	</div>
</section>