<section>
	<div class="wrap">
		<div class="layout">
			<div class="layout__item">
				<div class="">
					<h1>Contact Activa Veterinary Healthcare</h1>
					<p>you can reach us in a number of different ways and a member of the Customer Care team will respond to you as quickly as possible.</p>
					<p><strong>Telephone:</strong>08450 606 707 / 44 (0)1283 576800</p>
					<p><strong>Email:</strong>customercare@activahealthcare.co.uk</p>
					<p><strong>Write to us:</strong>Customer Care Team,<br>Activa Veterinary Healthcare<br>1 Lancaster Park, Newborough Road<br>Needwood, Burton on Trent<br>Staffordshire DE13 9PD</p>
					
					<h3>Send us a message</h3>
					<p>If you would like to send us a message, please use this form to tell us about your query.</p>
					
					<label for="" class="visuallyhidden">First name</label>
					<input type="text" id="first-name" class="" name="first-name" placeholder="First name (required)">
					
					<label for="" class="visuallyhidden">Surname</label>
					<input type="text" id="surname" class="" name="surname" placeholder="Surname (required)">
					
					<label for="phone" class="visuallyhidden">Telephone</label>
					<input type="text" id="phone" class="" name="phone" placeholder="Telephone">
					
					<label for="email" class="visuallyhidden">Email</label>
					<input type="text" id="email" class="" name="email" placeholder="Email (required)">
					
					<label for="message" class="visuallyhidden">Your enquiry</label>
					<input type="textarea" id="message" class="" name="message" placeholder="Your enquiry (required)">
					
					<p>We would like to keep you up to date about new products or send other information which we think you may find interesting.</p>
					
					<input type="checkbox" id="" name="">
					<p>Please keep me up to date</p>
					
					<button class="">Submit</button>
				</div>
			</div>
		</div>
	</div>
</section>