<!-- Section One -->

<section id="" class="section-hero">
	<div class="layout  layout--rev">
		<div class="layout__item  u-1/2-tablet-and-up  u-1/3-desk">
			<div class="section-hero--img">
				<img src="/assets/img/debrisoft/debrisoft-hero.jpg" title="" alt="">
			</div>
		</div>
		<div class="layout__item  u-1/2-tablet-and-up  u-2/3-desk">
			<div class="section-hero--content">
				<h1>Debrisoft&#174;</h1>
				<h2>Rapid, effective yet gentle debridement</h2>
				<p>18 million specially angled fibres sweep and bind slough, debris and non-viable tissue from the wound bed leaving viable granulation tissue and epithelial cells intact</p>
			</div>
		</div>
	</div>
</section>

<!-- Section Two -->

<section id="" class="section-two  section--gradient">
	<div class="layout">
		<div class="layout__item  u-1/3-tablet-and-up  u-3/5-desk">
			<div class="section-two--img">
				<img src="/assets/img/debrisoft/section-two-debrisoft-hand.png" title="" alt="">
			</div>
		</div>
		<div class="layout__item u-2/3-tablet-and-up  u-2/5-desk">
			<div class="section-two--content">
				<h2>Cost-efficient debridement without the need for surgery</h2>
				<p>In under 10 minutes Debrisoft facilitates wound assessment, reduces the risk of infection and allows the healing process to commence. It can be used by nurses who do not sharp debride.</p>
				<p>Debrisoft can be used post-surgical debridement and as an alternative to wet-to-dry or honey dressings.</p>
				<div class="layout__item--flush">
					<a href="" class="btn--reversed" title="">How to use Debrisoft &#40;PDF&#41;</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Section Three -->

<section id="" class="section-three">
	<div class="layout">
		<div class="layout__item  u-1/2-lap-and-up">
			<div class="section-three--content">
				<h2>Equine Case study</h2>
				<p>Debrisoft&#174; was used for 8 minutes to debride a 3 month old wound on the front of the hock.</p>
				<p>The horse was not sedated during the process and tolerated it well.</p>
				<div class="comparison-wrapper">
					<div class="comparison">
						<img src="/assets/img/debrisoft/debrisoft-horse--before.jpg" title="" alt="">
						<p>Before Debrisoft</p>
					</div>
					<div class="comparison">
						<img src="/assets/img/debrisoft/debrisoft-horse--after.jpg" title="" alt="">
						<p>After Debrisoft</p>
					</div>
				</div>
				<div class="layout__item--flush  u-1/2-lap-and-up">
					<a href="" class="btn--reversed" title="">More clinical evidence</a>
				</div>
			</div>
		</div>
		<div class="layout__item  u-1/2-lap-and-up">
			<div class="section-three--img">
				<img class="" src="/assets/img/debrisoft/brown-horse.jpg" title="Horse" alt="Horse">
			</div>
		</div>
	</div>
</section>

<!-- Section Four -->

<section id="" class="section-four">
	<div class="layout">
		<div class="layout__item  u-1/2-lap-and-up">
			<div class="section-four--img">
				<img class="section-image" src="/assets/img/debrisoft/black-dog--debrisoft.jpg" title="Dog" alt="Dog">
			</div>
		</div>
		<div class="layout__item  u-1/2-lap-and-up">
			<div class="section-four--content">
				<h2>Canine Case study</h2>
				<p>Debrisoft&#174; was used for 4 minutes to debride an old indolent wound on a canine stopper pad that had been inactive for many weeks. Non-viable tissue was debrided &ndash; leaving a healthier bed of granulation tissue, that was then able to progress and heal.</p>
				<div class="comparison-wrapper">
					<div class="comparison">
						<img src="/assets/img/debrisoft/canine-before.jpg" title="Wound1" alt="Wound1">
						<p>Before Debrisoft</p>
					</div>
					<div class="comparison">
						<img src="/assets/img/debrisoft/canine-after.jpg" title="Wound2" alt="Wound2">
						<p>After Debrisoft</p>
					</div>
				</div>
				<div class="layout__item--flush">
					<a href="" class="btn--reversed" title="More clinical evidence">More clinical evidence</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Section Five -->

<section id="" class="section-five  section--gradient">
	<div class="wrap">
		<div class="layout">
			<div class="layout__item">
				<div class="js-flickity">
					<p class="t-center  u-m++ ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras volutpat semper vulputate. Ut ac maximus turpis. Aliquam imperdiet sit amet mi a condimentum. Suspendisse dapibus accumsan leo nec auctor.<br><br><strong>Joe Bloggs</strong></p>
					
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Section Six -->

<section id="" class="section-six  section--gradient">
	<div class="wrap">
		<div class="layout">
			<div class="layout__item">
				<div class="order-codes">
					<h2>Order codes</h2>
					<table class="order-codes--desk">
						<tbody>
							<tr class="t-center">
								<td></td>
								<td><strong>NVS Code</strong></td>
								<td><strong>Pioneer Code</strong></td>
								<td><strong>DMS Code</strong></td>
							</tr>
							<tr>
								<td><strong>10x10cm</strong> &#40;5 pack&#41;</td>
								<td class="t-center">764516</td>
								<td class="t-center">K070</td>
								<td class="t-center">343-4370</td>
							</tr>
						</tbody>
					</table>
					<div class="order-codes--mobile">
						<p><strong>10x10cm &#40;5 pack&#41;</strong></p>
						<p>NVS Code: 764516</p>
						<p>Pioneer Code: K070</p>
						<p>DMS Code: 343-4370</p>
					</div>
				</div>
			</div>
			{{ theme:partial src="where_to_order" }}
		</div>
	</div>
</section>