<section class="section  section-flivasorb">
	<div class="wrap">
		<div class="layout  layout--center">
			<div class="layout__item  u-1/2-tablet-and-up">
				<div class="t-center">
					<h1>Flivasorb</h1>
					<p class="h2">Superabsorbent dressing for highly exuding wounds.</p>
					<p>Appropriate for when a foam is not absorbent enough for the wound. Flivasorb absorbs exudate which then remains locked in the dressing’s core to help prevent maceration. Long wear time up to 7 days.</p>
				</div>
			</div>
			<div class="layout__item  u-3/4-tablet-and-up">
				<div class="js-flickity">
					<img src="/assets/img/flivasorb/Flivasorb-diagram.png" title="" alt="">
					<img src="/assets/img/flivasorb/Flivasorb-diagram.png" title="" alt="">
					<img src="/assets/img/flivasorb/Flivasorb-diagram.png" title="" alt="">
					<img src="/assets/img/flivasorb/Flivasorb-diagram.png" title="" alt="">
					<img src="/assets/img/flivasorb/Flivasorb-diagram.png" title="" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section  section--gradient">
	<div class="wrap">
		<div class="layout  layout--center">
			<div class="layout__item  u-1/2-tablet-and-up  u-2/5-desk">
				<div class="t-center">
					<h2>Flivasorb adhesive</h2>
					<p>All the superabsorbency of Flivasorb with a skin friendly self-adjusting membrane. Ideal on hard to dress areas.</p>
				</div>
			</div>
			<div class="layout__item  u-3/4-tablet-and-up">
				<div class="js-flickity">
					<img src="/assets/img/flivasorb/flivasorb-state-1.jpg" title="">
					<img src="/assets/img/flivasorb/flivasorb-state-2.jpg" title="">
					<img src="/assets/img/flivasorb/flivasorb-state-3.jpg" title="">
					<img src="/assets/img/flivasorb/flivasorb-state-4.jpg" title="">
				</div>
			</div>
		</div>
	</div>
</section>
