<section id="" class="section-flivasorb">
	<div class="layout">
		<div class="layout__item">
			<div class="fliv-content">
				<h1>Flivasorb</h1>
				<h2>Superabsorbent dressing for highly exuding wounds.</h2>
				<p>Appropriate for when a foam is not absorbent enough for the
	wound. Flivasorb absorbs exudate which then remains locked
	in the dressing’s core to help prevent maceration. Long wear
	time up to 7 days.</p>
			</div>
		</div>
		<div class="layout__item  u-mb++">
			<div class="js-flickity  fliv-slider">
				<img src="/assets/img/flivasorb/Flivasorb-diagram.png" title="" alt="">
			</div>
		</div>
	</div>
</section>
<section class="section-gradient">
	<div class="layout">
		<div class="layout__item">
			<div class="fliv-content">
				<h2>Flivasorb adhesive</h2>
				<p>All the superabsorbency of Flivasorb with
a skin friendly self-adjusting membrane.
Ideal on hard to dress areas.</p>
			</div>
		</div>
		<div class="layout__item  u-mb++">
			<div class="js-flickity  fliv-slider">
				<img src="" title="">
			</div>
		</div>
	</div>
</section>
