<section class="section  section-flivasorb">
	<div class="wrap">
		<div class="layout  layout--center">
			<div class="layout__item  u-1/2-tablet-and-up">
				<div class="t-center">
					<h1>Flivasorb</h1>
					<p class="h2">Superabsorbent dressing for highly exuding wounds.</p>
					<p>Appropriate for when a foam is not absorbent enough for the wound. Flivasorb absorbs exudate which then remains locked in the dressing’s core to help prevent maceration. Long wear time up to 7 days.</p>
				</div>
			</div>
			<div class="layout__item  u-3/4-tablet-and-up">
				<ul class="slider">
					<li class="slide">
						<div class="layout  layout--center">
							<div class="layout__item">
								<img src="/assets/img/flivasorb/flivasorb-top-state-1.jpg" title="Flivasorb image" alt="Flivasorb image">
							</div>
							<div class="layout__item  u-2/5-lap-and-up">
								<div class="t-center">
									<p class="text-reversed">Flat edges Conform well to healthy skin and facilitate application</p>
								</div>
							</div>
						</div>
					</li>
					<li class="slide">
						<div class="layout  layout--center">
							<div class="layout__item">
								<img src="/assets/img/flivasorb/flivasorb-top-state-2.jpg" title="Flivasorb image" alt="Flivasorb image">
							</div>
							<div class="layout__item  u-2/5-lap-and-up  t-center">
								<div class="t-center">
									<p class="text-reversed">Flexible wound contact layer Prevents adhesion to the wound</p>
								</div>
							</div>
						</div>
					</li>
					<li class="slide">
						<div class="layout  layout--center">
							<div class="layout__item">
								<img src="/assets/img/flivasorb/flivasorb-top-state-3.jpg" title="Flivasorb image" alt="Flivasorb image">
							</div>
							<div class="layout__item  u-2/5-lap-and-up  t-center">
								<div class="t-center">
									<p class="text-reversed">Distribution layer Absorbed exudate is evenly distributed and quickly conducted into the absorbent core</p>
								</div>
							</div>
						</div>
					</li>
					<li class="slide">
						<div class="layout  layout--center">
							<div class="layout__item">
								<img src="/assets/img/flivasorb/flivasorb-top-state-4.jpg" title="Flivasorb image" alt="Flivasorb image">
							</div>
							<div class="layout__item  u-2/5-lap-and-up  t-center">
								<div class="t-center">
									<p class="text-reversed">Absorbent core with superabsorber Binds large amounts of wound exudate evenly in ﬁxed superabsorber particles</p>
								</div>
							</div>
						</div>
					</li>
					<li class="slide">
						<div class="layout  layout--center">
							<div class="layout__item">
								<img src="/assets/img/flivasorb/flivasorb-top-state-5.jpg" title="Flivasorb image" alt="Flivasorb image">
							</div>
							<div class="layout__item  u-2/5-lap-and-up  t-center">
								<div class="t-center">
									<p class="text-reversed">Blue nonwoven backing Helps to eliminate strikethrough</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section class="section  section--gradient">
	<div class="wrap">
		<div class="layout  layout--center">
			<div class="layout__item  u-1/2-tablet-and-up  u-2/5-desk">
				<div class="t-center">
					<h2>Flivasorb adhesive</h2>
					<p>All the superabsorbency of Flivasorb with a skin friendly self-adjusting membrane. Ideal on hard to dress areas.</p>
				</div>
			</div>
			<div class="layout__item u-2/3-desk">
				<ul class="slider">
					<li class="slide">
						<div class="layout  layout--center">
							<div class="layout__item">
								<div class="t-center">
									<img src="/assets/img/flivasorb/flivasorb-state-1.jpg" title="Flivasorb repels fluid" alt="Flivasorb repels fluid">
								</div>
							</div>
							<div class="layout__item  u-2/5-lap-and-up">
								<div class="t-center">
									<p class="text-reversed">Breathable, self-adjusting membrane. Repels ﬂuid and protects against external contamination</p>
								</div>
							</div>
						</div>
					</li>
					<li class="slide">
						<div class="layout  layout--center">
							<div class="layout__item">
								<div class="t-center">
									<img src="/assets/img/flivasorb/flivasorb-state-2.jpg" title="Flivasorb is skin friendly" alt="Flivasorb is skin friendly">
								</div>
							</div>
							<div class="layout__item  u-2/5-lap-and-up">
								<div class="t-center">
									<p class="text-reversed">Skin friendly wound contact layer</p>
								</div>
							</div>
						</div>
					</li>
					<li class="slide">
						<div class="layout  layout--center">
							<div class="layout__item">
								<div class="t-center">
									<img src="/assets/img/flivasorb/flivasorb-state-3.jpg" title="Flivasorb is superabsorbant" alt="Flivasorb is superabsorbant">
								</div>
							</div>
							<div class="layout__item  u-2/5-lap-and-up">
								<div class="t-center">
									<p class="text-reversed">Superabsorber with high absorption and binding capacity</p>
								</div>
							</div>
						</div>
					</li>
					<li class="slide">
						<div class="layout  layout--center">
							<div class="layout__item">
								<div class="t-center">
									<img src="/assets/img/flivasorb/flivasorb-state-4.jpg" title="Flivasorb has a low trauma adhesive border" alt="Flivasorb has a low trauma adhesive border">
								</div>
							</div>
							<div class="layout__item  u-2/5-lap-and-up">
								<div class="t-center">
									<p class="text-reversed">Low trauma adhesive border</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
