<section id="" class="section--woundcare-for-animals">
	<div class="wrap  wrap--pseudo-img">
		<div class="layout">
			<div class="layout__item">
				<h1>Clinically proven woundcare for animals</h1>
				<p class="h3 hero--subheading">Advanced products perfectly suited to the stages of wound treatment</p>
			</div>
		</div>
	</div>
</section>

<section id="products" class="section--products">
	<div class="wrap  wrap--tabs">
		<ul class="layout  layout--center  layout--flush  tab-blocks">
		    <li class="layout__item  u-1/5-tablet-and-up  u-1/6-lap-and-up">
		        <a class="tab  tab--active" href="#debrisoft" title="debrisoft">Debrisoft</a>
		    </li>
		    <li class="layout__item  u-1/5-tablet-and-up  u-1/6-lap-and-up">
		        <a class="tab" href="#suprasorb" title="suprasorb a+ag">Suprasorb A+AG</a>
		    </li>
		    <li class="layout__item  u-1/5-tablet-and-up  u-1/6-lap-and-up">
		        <a class="tab" href="#flivasorb" title="flivasorb">Flivasorb</a>
		    </li>
		    <li class="layout__item  u-1/5-tablet-and-up  u-1/6-lap-and-up">
		        <a class="tab" href="#actiformcool" title="actiformcool">ActiformCool</a>
		    </li>
		</ul>
	</div>
	
	<a class="tab--mobile" href="#debrisoft" title="Debrisoft"><h2>Debrisoft</h2></a>
	<div id="debrisoft" class="tab__content  t-center">
		<div class="wrap">
			<div class="product-summary">
				<div class="layout  layout--center">
					<div class="layout__item  u-1/2-tablet-and-up  u-2/5-lap-and-up">
						<div class="t-center">
							<h3>Debrisoft</h3>
							<p>
								In the initial stages, when any bleeding has stopped, any necrotic tissue, slough, exudate and foreign bodies will need removing from the wound. Debrisoft offers an immediate and gentle debriding option.
							</p>
							<p><a class="btn--reversed" href="/products/debrisoft">Find out more about Debrisoft</a></p>
						</div>
					</div>
					<div class="layout__item  u-3/4-tablet-and-up">
						<div class="t-center">
							<p>
								<img src="/assets/img/graphs/graph-debrisoft--mobile.png" alt="" title="" class="graph-mobile">
								<img src="/assets/img/graphs/graph-debrisoft.png" alt="" title="" class="graph-desk">
							</p>
						</div>
					</div>
							
					<div class="layout__item  u-1/2-tablet-and-up  u-2/4-lap-and-up">
						<div class="t-center">
							<p>The Wound Progression Model</p>
							<p class="text-reversed">
								The appearance and characteristics of a wound will change as it progresses through the healing process and therefore the management of that wound may need to change too. Our advanced wound dressings aim to support the wound and optimise healing at each dierent stage.
							</p>
							<p class="text-reversed">
								The Wound Progression Model has been reproduced with kind permission from Georgie Hollis at The Veterinary Wound Library.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<a class="tab--mobile" href="#suprasorb" title="Suprasorb A+AG"><h2>Suprasorb A+AG</h2></a>
	<div id="suprasorb" class="tab__content  t-center">
		<div class="wrap">
			<div class="product-summary">
				<div class="layout  layout--center">
					<div class="layout__item  u-1/2-tablet-and-up  u-2/5-lap-and-up">
						<div class="t-center">
							<h3>Suprasorb A+AG</h3>
							<p>
								SuprasorbA+Ag is an aliginate dressing which turns into a gel on contact with exudate. Contains silver ions for critically colonised or at risk wounds.
							</p>
							<p><a class="btn--reversed" href="/products/suprasorb">Find out more about Suprasorb A+AG</a></p>
						</div>
					</div>
					<div class="layout__item  u-3/4-tablet-and-up">
						<div class="t-center">
							<p>
								<img src="/assets/img/graphs/graph-suprasorb-a+ag--mobile.png" alt="" title="" class="graph-mobile">
								<img src="/assets/img/graphs/graph-suprasorb.png" alt="" title="" class="graph-desk">
							</p>
						</div>
					</div>
					<div class="layout__item  u-1/2-tablet-and-up  u-3/5-lap-and-up">
						<div class="t-center">
							<p class="text-reversed">
								The appearance and characteristics of a wound will change as it progresses through the healing process and therefore the management of that wound may need to change too. Our advanced wound dressings aim to support the wound and optimise healing at each dierent stage.
							</p>
							<p class="text-reversed">
								The Wound Progression Model has been reproduced with kind permission from Georgie Hollis at The Veterinary Wound Library.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<a class="tab--mobile" href="#flivasorb" title="Flivasorb"><h2>Flivasorb</h2></a>
	<div id="flivasorb" class="tab__content  t-center">
		<div class="wrap  product-summary">
			<div class="product-summary">
				<div class="layout  layout--center">
					<div class="layout__item  u-1/2-tablet-and-up  u-2/5-lap-and-up">
						<div class="t-center">
							<h3>Flivasorb</h3>
							<p>
								Flivasorb absorbs large volumes of exudate and locks it within the dressing.
							</p>
							<p><a class="btn--reversed" href="/products/flivasorb">Find out more about Flivasorb</a></p>
						</div>
					</div>
					<div class="layout__item  u-3/4-tablet-and-up">
						<div class="t-center">
							<p>
								<img src="/assets/img/graphs/graph-flivasorb--mobile.png" alt="" title="" class="graph-mobile">
								<img src="/assets/img/graphs/graph-flivasorb.png" alt="" title="" class="graph-desk">
							</p>
						</div>
					</div>
					<div class="layout__item  u-1/2-tablet-and-up  u-3/5-lap-and-up">
						<div class="t-center">
							<p class="text-reversed">
								The appearance and characteristics of a wound will change as it progresses through the healing process and therefore the management of that wound may need to change too. Our advanced wound dressings aim to support the wound and optimise healing at each dierent stage.
							</p>
							<p class="text-reversed">
								The Wound Progression Model has been reproduced with kind permission from Georgie Hollis at The Veterinary Wound Library.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<a class="tab--mobile" href="#actiformcool" title="ActiformCool"><h2>ActiformCool</h2></a>
	<div id="actiformcool" class="tab__content">
		<div class="wrap">
			<div class="product-summary">
				<div class="layout  layout--center">
					<div class="layout__item  u-1/2-tablet-and-up  u-2/5-lap-and-up">
						<div class="t-center">
							<h3>Actiformcool</h3>
							<p>
								ActiFormCool provides optimum moisture balance in the later stages of healing by donating or absorbing moisture as required.
							</p>
							<p><a class="btn--reversed" href="/products/actiformcool">Find out more about ActiFormCool</a></p>
						</div>
					</div>
					<div class="layout__item  u-3/4-tablet-and-up">
						<div class="t-center">
							<p>
								<img src="/assets/img/graphs/graph-actiformcool--mobile.png" alt="" title="" class="graph-mobile">
								<img src="/assets/img/graphs/graph-actiformcool.png" alt="" title="" class="graph-desk">
							</p>
						</div>
					</div>
					<div class="layout__item  u-1/2-tablet-and-up  u-3/5-lap-and-up">
						<div class="t-center">
							<p class="text-reversed">
								The appearance and characteristics of a wound will change as it progresses through the healing process and therefore the management of that wound may need to change too. Our advanced wound dressings aim to support the wound and optimise healing at each dierent stage.
							</p>
							<p class="text-reversed">
								The Wound Progression Model has been reproduced with kind permission from Georgie Hollis at The Veterinary Wound Library.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Our products -->

<section id="our-products" class="section--woundcare-range  section--grey">
	<div class="wrap">
		<div class="layout  layout--center">
			<div class="layout__item  u-3/4-phablet-and-up  u-3/4-tablet-and-up  u-mb">
				<div class="t-center">
					<h2>Ideal uses for the Activa Veterinary woundcare range</h2>
					<table class="woundcare-range--desktop">
						<tbody>
							<tr class="t-center">
								<td></td>
								<td>Debrisoft</td>
								<td>Suprasorb A+Ag</td>
								<td>Flivasorb</td>
								<td>ActiformCool</td>
							</tr>
							<tr>
								<td>Necrotic</td>
								<td><span></span></td>
								<td></td>
								<td></td>
								<td><span></span></td>
							</tr>
							<tr>
								<td>Sloughy</td>
								<td><span></span></td>
								<td><span></span></td>
								<td><span></span></td>
								<td></td>
							</tr>
							<tr>
								<td>Highly exuding</td>
								<td><span></span></td>
								<td><span></span></td>
								<td><span></span></td>
								<td></td>
							</tr>
							<tr>
								<td>Granulating</td>
								<td><span></span></td>
								<td><span></span></td>
								<td></td>
								<td><span></span></td>
							</tr>
							<tr>
								<td>Epithelialising</td>
								<td></td>
								<td></td>
								<td></td>
								<td><span></span></td>
							</tr>
							<tr>
								<td>Fragile tissuegraft</td>
								<td></td>
								<td></td>
								<td></td>
								<td><span></span></td>
							</tr>
						</tbody>
					</table>
					
					<table class="woundcare-range--mobile">
						<tbody>
							<tr>
								<th>Necrotic</th>
								<td>Debrisoft</td>
								<td>Actiform</td>
							</tr>
							<tr>
								<th>Sloughy</th>
								<td>Debrisoft</td>
								<td>Suprasorb A+AG</td>
								<td>Flivasorb</td>
							</tr>
							<tr>
								<th>Highly Exuding</th>
								<td>Debrisoft</td>
								<td>Suprasorb A+AG</td>
								<td>Flivasorb</td>
							</tr>
							<tr>
								<th>Granulating</th>
								<td>Debrisoft</td>
								<td>Suprasorb A+AG</td>
								<td>ActiformCool</td>
							</tr>
							<tr>
								<th>Epithelialising</th>
								<td>ActiformCool</td>
							</tr>
							<tr>
								<th>Fragile Tissuegraft</th>
								<td>ActiformCool</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="layout__item  u-3/5-tablet-and-up  u-pl\+  u-mb">
				<div class="t-center">
					<div class="clinicians">
						<p class="text-featured">The products on this site have been trialed by the following clinicians with a keen interest in wound management:</p>
						<p><strong>Professor Derek Knottenbelt,</strong><span class="text-reversed"> OBE, BVM&amp;S, DVM&amp;S, DipECIM, MRCVS</span></p>
						<p><strong>Liz Welsh,</strong><span class="text-reversed"> PhD, BVMS CertVA, CertSAS, MRCVS, Soft Tissue Surgeon at Vets Now Referrals Glasgow</span></p>
						<p><strong>Paul Aldridge,</strong><span class="text-reversed"> BVCs, CertSAS, MRCVS, Veterinary Surgeon at Petmedics</span></p>
						<p><strong>Louise O’Dwyer</strong><span class="text-reversed"> MBA, BSc (Hons), VTS (ECC), DipAVN (Med &amp; Surgery), RVN, at Petmedics</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

			


<!-- About us / Where to order -->

<section id="about-us" class="section--horses-paddock  about">
	<div class="wrap">
		<div class="layout  layout--center">
			<div class="layout__item  u-3/4-phablet-and-up  u-3/5-tablet-and-up  u-1/2-lap-and-up  u-2/5-desk">
				<div class="about-intro">
					<h3>Activa Healthcare are one of the UK's fastest growing companies in the human medical sector.</h4>
					<p class="h4">Trusted and used throughout the NHS, our products have won awards for innovation and Debrisoft has been recommended by NICE for wounds needing debridement. Activa is part of the multi-national wound care company Lohmann and Rauscher.</p>
					<a class="btn--reversed">Read our Debrisoft NICE recommendation</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="order-information">
	<div class="wrap">
		{{ theme:partial src="where_to_order" }}
	</div>
<section>

<!-- News and Events -->

<div class="section--grey">
	<ul class="layout  layout--center  layout--flush  tab-blocks">
	    <li class="layout__item  u-1/4-tablet-and-up">
	        <a class="tab  tab--active" href="#news" title="news">News</a>
	    </li>
	    <li class="layout__item  u-1/4-tablet-and-up">
	        <a class="tab" href="#events" title="Events">Events</a>
	    </li>
	</ul>
	<a class="tab  tab--mobile  tab--active" href="#news" title="News"><h2>News</h2></a>
	<div id="news" class="tab__content  t-center">
		<div class="wrap">
			<p>News stuff</p>
			<a class="btn--reversed" href="#">News archive</a>
		</div>
	</div>
	
	<a class="tab  tab--mobile  tab--active" href="#events" title="Events"><h2>Events</h2></a>
	<div id="events" class="tab__content  t-center">
		<div class="wrap">
			<p>Event stuff</p>
			<a class="btn--reversed" href="#">Events archive</a>
		</div>
	</div>
</div>

<!-- Contact -->

<section id="contact" class="section--contact">
	<div class="wrap">
		<div class="layout  layout--center">
			<div class="layout__item  u-2/3-lap-and-up  u-mb">
				<div class="contact">
					<h2>Contact Activa Veterinary Healthcare</h2>
					<p class="contact--desc">You can reach us in a number of different ways and a member of the Customer Care team will respond to you as quickly as possible.</p>
					<div class="contact--method">	
						<p><strong>Telephone:</strong></p>
						<p>08450 606 707 / 44 (0)1283 576800</p>
						<p><strong>Email:</strong></p>
						<p>customercare@activahealthcare.co.uk</p>
						<p><strong>Write to us:</strong></p>
						<p>Customer Care Team,<br>Activa Veterinary Healthcare<br>1 Lancaster Park, Newborough Road<br>Needwood, Burton on Trent<br>Staffordshire DE13 9PD</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="layout  layout--center">
			<div class="layout__item  u-1/3-lap-and-up">
				<div class="t-center">
					<h2>Send us a message</h2>
					<p class="message--desc">If you would like to send us a message, please use this form to tell us about your query.</p>
				</div>
			</div>
		</div>
		
		<div class="layout  layout--center">
			<div class="layout__item  u-2/3-tablet-and-up  u-3/4-desk">
				<div class="layout">
					<div class="layout__item  u-1/2-tablet-and-up">
						<label for="first-name" class="visuallyhidden">First name</label>
						<input type="text" id="first-name" class="" name="first-name" placeholder="First name (required)">
					</div>
					<div class="layout__item  u-1/2-tablet-and-up">
						<label for="surname" class="visuallyhidden">Surname</label>
						<input type="text" id="surname" class="" name="surname" placeholder="Surname (required)">
					</div>
				</div>
					
				<div class="layout">
					<div class="layout__item  u-1/2-tablet-and-up">
						<label for="phone" class="visuallyhidden">Telephone</label>
						<input type="text" id="phone" class="" name="phone" placeholder="Telephone">
					</div>
					<div class="layout__item  u-1/2-tablet-and-up">
						<label for="email" class="visuallyhidden">Email</label>
						<input type="text" id="email" class="" name="email" placeholder="Email (required)">
					</div>
				</div>
				<div class="layout">
					<div class="layout__item">
						<label for="message" class="visuallyhidden">Your enquiry</label>
						<textarea id="message" class="" name="message" placeholder="Your enquiry (required)"></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="layout  layout--center">
			<div class="layout__item">
				<div class="t-center">
					<p>We would like to keep you up to date about new products or send other information which we think you may find interesting.</p>
		
					<input type="checkbox" id="" name="">
					<p>Please keep me up to date</p>
		
					<button class="btn--reversed">Submit</button>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="layout--flush">
		<div class="layout__item">
			<img src="/assets/img/footer-cat.jpg" title="Grey cat on a tartan blanket"  alt="Grey cat on tartan blanket" class="pussy">
		</div>
	</div>
</section>