<section>
	<div class="wrap">
		<div class="layout">
			<div class="layout__item">
				<div class="">
					<h2>Ideal uses for the Activa Veterinary woundcare range</h2>
					
					<table>
						<tbody>
							<tr>
								<td></td>
								<td>Debrisoft</td>
								<td>Suprasorb A+Ag</td>
								<td>Flivasorb</td>
								<td>ActiformCool</td>
							</tr>
							<tr>
								<td>Necrotic</td>
								<td><span>o</span></td>
								<td></td>
								<td></td>
								<td><span>o</span></td>
							</tr>
							<tr>
								<td>Sloughy</td>
								<td><span>o</span></td>
								<td><span>o</span></td>
								<td><span>o</span></td>
								<td></td>
							</tr>
							<tr>
								<td>Highly exuding</td>
								<td><span>o</span></td>
								<td><span>o</span></td>
								<td><span>o</span></td>
								<td></td>
							</tr>
							<tr>
								<td>Granulating</td>
								<td><span>o</span></td>
								<td><span>o</span></td>
								<td></td>
								<td><span></span></td>
							</tr>
							<tr>
								<td>Epithelialising</td>
								<td></td>
								<td></td>
								<td></td>
								<td><span>o</span></td>
							</tr>
							<tr>
								<td>Fragile tissuegraft</td>
								<td></td>
								<td></td>
								<td></td>
								<td><span>o</span></td>
							</tr>
						</tbody>
					</table>
					
					<p>The products on this site have been trialed by the following clinicians with a keen interest in wound managment:</p>
					<p><strong>Professor Derek Knottenbelt,</strong> OBE, BVM&amp;S, DVM&amp;S, DipECIM, MRCVS</p>
					<p><strong>Liz Welsh,</strong> PhD, BVMS CertVA, CertSAS, MRCVS, Soft Tissue Surgeon at Vets Now Referrals Glasgow</p>
					<p><strong>Paul Aldridge,</strong> BVCs, CertSAS, MRCVS, Veterinary Surgeon at Petmedics</p>
					<p><strong>Louise O’Dwyer</strong> MBA, BSc (Hons), VTS (ECC), DipAVN (Med &amp; Surgery), RVN, at Petmedics</p>
				</div>
			</div>
		</div>
	</div>
</section>