<section class="section  section-suprasorb">
	<div class="wrap">
		<div class="layout">
			<div class="layout__item  u-1/2-lap-and-up">
				<div class="suprasorb-content">
					<h1>Suprasorb A&#43;Ag</h1>
					<p class="h2">Antimicrobial effect combined with excellent absorption</p>
					<p>SuprasorbA+Ag is for moderate to heavily exuding wounds. Alginate dressings are derived from seaweed and turn to a gel in contact with exudate. The gel helps prevent maceration and maintain a moist wound environment.</p>
					<p>Contains silver for contaminated, colonised or critically colonised wounds. The addition of antimicrobial silver kills bacteria in the wound. The dressing can remain in place for 7 days.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section  section--gradient">
	<div class="wrap">
		<div class="layout  layout--center">
			<div class="layout__item">
				<div class="suprasorb-slider  t-center">
					<h2>How it works</h2>
					<div class="js-flickity">
						<img src="/assets/img/suprasorb/suprasorb-state-1.jpg" title="" alt="">
						<img src="/assets/img/suprasorb/suprasorb-state-1.jpg" title="" alt="">
						<img src="/assets/img/suprasorb/suprasorb-state-1.jpg" title="" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>