<section class="">
	<div class="layout  layout--rev">
		<div class="layout__item  u-1/2-lap-and-up">
			<img src="/assets/img/suprasorb/Suprasorb-A+Ag.png" title="">
		</div>
		<div class="layout__item  u-1/2-lap-and-up">
			<div class="suprasorb-content">
				<h1>Suprasorb A&#43;Ag</h1>
				<h2>Antimicrobial eect combined with excellent absorption</h2>
				<p>SuprasorbA+Ag is for moderate to heavily exuding
wounds. Alginate dressings are derived from seaweed
and turn to a gel in contact with exudate. The gel
helps prevent maceration and maintain a moist wound
environment.</p>
				<p>Contains silver for contaminated, colonised or critically
colonised wounds. The addition of antimicrobial silver
kills bacteria in the wound. The dressing can remain in
place for 7 days.</p>
			</div>
		</div>
	</div>
</section>

<section class="section-gradient">
	<div class="layout">
		<div class="layout__item">
			<h2>How it works</h2>
			<div class="js-flickity">
				<img src="" title="" alt="">
			</div>
		</div>
	</div>
</section>