<section class="section">
	<div class="wrap">
		<div class="layout  layout--center">
			<div class="layout__item  u-2/5-lap-and-up">
				<div class="t-center">
					<h1>Events</h1>
					<select> 
						<option value="">Select Month</option> 
						<option value="/events/">All</option>
						{{ taxonomy:listing folder="events" type="event_date" }}
							<option value="{{ url }}">{{ name }}</option>
						{{ /taxonomy:listing }}
					</select>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section  section--gradient">
	<div class="wrap">
		<div class="layout  layout--center">
			<div class="layout__item  u-3/4-tablet-and-up">
				{{ if type  == "event_date" }}
					{{ entries:listing folder="events" taxonomy="true" }}
					<div class="media-padding">
						<div class="layout">
							<div class="layout__item  u-1/3-lap-and-up">
								<p class="h3">{{ event_date }}</p>
							</div>
							<div class="layout__item  u-2/3-lap-and-up">
								<h3>{{ title }}</h3>
								<p>{{ content }}</p>
								<p><strong>Venue:</strong> {{ venue:name }}</p>
							</div>
						</div>
					</div>
					<hr>
					{{ /entries:listing }}
					
					{{ /if }}
			</div>
		</div>
	</div>
</section>