.section--grey {
	background-color: $dark-grey;
}

.section--gradient {
	background: #1a1a1a; /* Old browsers */
	background: -moz-linear-gradient(top,  #1a1a1a 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a1a1a), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1a1a1a 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1a1a1a 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1a1a1a 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1a1a1a 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}


.section--products {
	border-top: 1px solid $light-grey;
	position: relative;
	z-index: 10000;
}



.section--product-preview {
	position: relative;
}


// about section
.section--horses-paddock {
	padding-bottom: 15em;
}

@include media-query(phablet-and-up) {
	.section--horses-paddock {
		padding-bottom: 30em;
	}
}
@include media-query(tablet-and-up) {
	.section--horses-paddock {
		padding-bottom: 45em;
	}
}
@include media-query(lap-and-up) {
	.section--horses-paddock {
		padding-bottom: 60em;
	}
}
@include media-query(desk-wide) {
	.section--horses-paddock {
		padding-bottom: 100em;
	}
}
// about end



