// Base type rules: fonts, weights, links, quotes etc.

$base-font-size:    	16px;
$base-line-height:  	1.5;
$base-font-color:		#fff;
$heading-font-family:	'proxima-nova';
$base-font-family:		'proxima-nova';

body {
	font-family: $base-font-family;
	color: white;
}

p {
	font-size: 1.5rem;
}


// Responsive headings

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,h6 {
	font-weight: 300;
	line-height: 1.4;
	color: white;
}


/* h1,.h1 */

h1,.h1 {
	font-size: 2.25rem;
}

@include media-query(phablet) {
	h1,.h1 {
		font-size: 2.5rem;
	}
}

@include media-query(tablet) {
	h1,.h1 {
		font-size: 2.75rem;
	}
}

@include media-query(lap) {
	h1,.h1 {
		font-size: 3rem;
	}	
}

@include media-query(desk) {
	h1,.h1 {
		font-size: 3.25rem;
	}
}


/* h2,.h2 */

h2,.h2 {
	font-size: 2rem;
}

@include media-query(phablet) {
	h2,.h2 {
		font-size: 2.125rem;
	}
}

@include media-query(tablet) {
	h2,.h2 {
		font-size: 2.25em;
	}
}

@include media-query(lap) {
	h2,.h2 {
		font-size: 2.375rem;
	}
}

@include media-query(desk) {
	h2,.h2 {
		font-size: 2.5rem;
	}
}


/* h3,.h3 */

h3,.h3 {
	font-size: 1.125rem;
}

@include media-query(phablet) {
	h3,.h3 {
		font-size: 1.25rem;
	}	
}

@include media-query(tablet) {
	h3,.h3 {
		font-size: 1.375rem;
	}	
}

@include media-query(lap) {
	h3,.h3 {
		font-size: 1.5rem;
	}	
}

@include media-query(desk) {
	h3,.h3 {
		font-size: 1.625rem;
	}	
}


/* h4,.h4 */

h4,.h4 {
	font-size: 1rem;
}

@include media-query(phablet) {
	h4,.h4 {
		font-size: 1.125rem;
	}
}

@include media-query(tablet) {
	h4,.h4 {
		font-size: 1.25rem;
	}
}

@include media-query(lap) {
	h4,.h4 {
		font-size: 1.375rem;
	}
}

@include media-query(desk) {
	h4,.h4 {
		font-size: 1.5rem;
	}
}

a {
	color: white;
	text-decoration: none;
	font-weight: 100;
}

