.section--grey {
	@extend .solid;
	background-color: $dark-grey;
}


.section--horses-paddock {
	padding: 3.5em 2.2em 22em;
}

@include media-query(phablet-and-up) {
	.section--horses-paddock {
		padding: 3.5em 2.2em 30em;
	}
}
@include media-query(tablet-and-up) {
	.section--horses-paddock {
		padding: 3.5em 2.2em 40em;
	}
}
@include media-query(lap-and-up) {
	.section--horses-paddock {
		padding: 3.5em 2.2em 60em;
	}
}
@include media-query(desk) {
	.section--horses-paddock {
		padding: 3.5em 2.2em 80em;
	}
}

.section--pseudo-img {
	position: relative;
	z-index: 1;
	height: 750px;
	&:before,
	&:after {
		content: "";
		position: absolute;
		display: block;
		
	}
}

.section--product-preview {
	position: relative;
}

.section--contact {
	padding: 1em 2em;
	
}