// Base type rules: fonts, weights, links, quotes etc.

$base-font-size:    	16px;
$base-line-height:  	24px;
$base-font-color:		#fff;
//$heading-font-family:	;
//$base-font-family:		;

body {
//	font-family: $base-font-family;
	color: white;
}

h1,h2,h3,h4,h5,h6 {
//	font-family: $heading-font-family;
	color: white;
	font-weight: 600;
	line-height: 1.3;
}