// Base type rules: fonts, weights, links, quotes etc.

$base-font-size:    	16px;
$base-line-height:  	1.5;
$base-font-color:		#fff;
$heading-font-family:	'proxima-nova';
$base-font-family:		'proxima-nova';

body {
	font-family: $base-font-family;
	color: white;
	font-size: 1rem;
	margin-bottom: 0;
}


a {
	color: white;
	text-decoration: none;
}


//@include media-query(lap-and-up) {
//	body {
//		font-size: 1.125rem;
//	}
//}

/*
@include media-query(desk) {
	body {
		font-size: 1.5rem;
	}
}
*/

.small {
	font-size: 1rem;
}

.medium {
	font-size: 1.125rem;
}

.text-featured {
	font-size: 1rem;
	margin-bottom: 1em;
}

@include media-query(lap-and-up) {
	.text-featured {
		font-size: 1.25rem;
		margin-bottom: 1em;
	}
}


.text-reversed {
	color: $lightest-grey;
	display: block;
}

@include media-query(tablet-and-up) {
	.text-reversed {
		display: inline-block;
	}
}

@include media-query(desk) {
	p {
		font-size: 1.5em;
	}
}


// Responsive headings

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,h6 {
	font-weight: 100;
	line-height: 1.2;
	color: white;
}


/* h1,.h1 */

h1,.h1 {
	font-size: 2.125rem;
}

@include media-query(phablet) {
	h1,.h1 {
		font-size: 2.75rem;
	}
}

@include media-query(tablet) {
	h1,.h1 {
		font-size: 2.5rem;
	}
}

@include media-query(lap) {
	h1,.h1 {
		font-size: 3.5rem;
	}	
}

@include media-query(desk) {
	h1,.h1 {
		font-size: 4.5rem;
	}
}

// Inbetween h1 & h2 used on product pages
.product-heading {
	font-size: 1.375rem;
}

@include media-query(phablet) {
	.product-heading {
		font-size: rem;
	}
}

@include media-query(tablet) {
	.product-heading {
		font-size: rem;
	}
}

@include media-query(lap) {
	.product-heading {
		font-size: rem;
	}
}

@include media-query(desk) {
	.product-heading {
		font-size: 3.125rem;
	}
}

/* h2,.h2 */

h2,.h2 {
	font-size: 1.875rem;
}

@include media-query(phablet) {
	h2,.h2 {
		font-size: 2rem;
	}
}

@include media-query(tablet) {
	h2,.h2 {
		font-size: 2.375em;
	}
}

@include media-query(lap) {
	h2,.h2 {
		font-size: 2.5rem;
	}
}

@include media-query(desk) {
	h2,.h2 {
		font-size: 2.875rem;
	}
}


/* h3,.h3 */

h3,.h3 {
	font-size: 1.875rem;
}

@include media-query(phablet) {
	h3,.h3 {
		font-size: 2rem;
	}	
}

@include media-query(tablet) {
	h3,.h3 {
		font-size: 2.25rem;
	}	
}

@include media-query(lap) {
	h3,.h3 {
		font-size: 2.5rem;
	}	
}

@include media-query(desk) {
	h3,.h3 {
		font-size: 2.625rem;
	}	
}


/* h4,.h4 */

h4,.h4 {
	font-size: 1.375rem;
}

@include media-query(phablet) {
	h4,.h4 {
		font-size: rem;
	}
}

@include media-query(tablet) {
	h4,.h4 {
		font-size: rem;
	}
}

@include media-query(lap) {
	h4,.h4 {
		font-size: rem;
	}
}

@include media-query(desk) {
	h4,.h4 {
		font-size: 2.125rem;
	}
}