// Tabs

@include media-query(mobile) {
	.section--products {
		padding-bottom: 0;
		padding-top: 3em;
	}
}

.wrap--tabs {
	padding: 0;
	margin-top: -6em;
	margin-bottom: 3em;
	max-width: 70em;
	position: relative;
	z-index: 10;
}

@include media-query(lap-and-up) {
	.wrap--tabs {
		margin-top: -7.5em;
	}
}

@include media-query(desk) {
	.wrap--tabs {
		margin-top: -9em;
	}
}

.tab,
.tab--mobile {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	width: 100%;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 1em 1em;
	background-color: transparent;
	border: 1px solid $light-grey;
	border-width: 0 0 1px 0;
	@include color-transition;
	&:hover {
		background-color: mix(black, $light-grey, 15%)
	}
	h2 {
		margin-bottom: 0;
	}

}

@include media-query(tablet-and-up) {
	.tab-blocks {
		
	}
	
	.tab-blocks--light {
		.tab {
			&.tab--active {
				background-color: $dark-grey;
				border-bottom: 1px solid $dark-grey;
			}
		}
	}
	.tab {
		border-width: 0;
		&.tab--active {
			color: white;
			background-color: transparent;
			border-width: 1px;
			border-bottom: 1px solid black;
			@include color-transition;
			margin-top: -2px;
		}
	}
}

.tab-blocks {
	display: none;
}

@include media-query(tablet-and-up) {
	.tab--mobile {
		display: none;
	}
	.tab-blocks {
		display: block;
	}
}

@include media-query(mobile) {
	.tab {
		display: none;
		.tab--mobile {
			border-width: 1px 0 0 0;
		}
	}
	.tab--mobile {
	
	}
	.tab__content {
		display: none !important;
		h3 {
			display: none;
		}
	}
	.tab__content--show {
		display: block !important;
	}
}