/* Hero Section */

.section-hero {
	position: relative;
	top: 7em;
	margin-bottom: 5em;
	.section-hero--img {
		position: relative;
		top: -25px;
		max-width: 90%;
		margin-left: 3em;
	}
	.section-hero--content {
		position: relative;
		padding: 3.2em;
		h1 {
			font-size: 3.2em;
			margin-bottom: 0;
		}
	}
}

@include media-query(phablet-and-up) {
	.section-hero-img {
		margin-left: 0;
	}
}

@include media-query(lap-and-up) {
	.section-hero {
		top: 0;
	}
	.section-hero .section-hero--content {
		top: 7.6em;
		padding: 3.2em 0 3.2em 3.2em;
		h1 {
			font-size: 4.2em;
		}
		h2 {
			font-size: 2.9rem;
		}
		p {
			max-width: 80%;
		}
	}
}

@include media-query(desk) {
	.section-hero .section-hero--img {
		max-width: none;
		width: 150%;
		right: 15em;
		margin-left: 0;
	}
}

/* Section Two */

.section-two {
	position: relative;
	margin-bottom: 5em;
	.section-two--img {
		position: relative;
		width: 80%;
		margin-bottom: 1em;
	}
	.section-two--content {
		text-align: right;
		padding: 0 3.2em;
		p:nth-of-type(2) {
			margin-bottom: 3em;
		}
	}
}

@include media-query(tablet-and-up) {
	.section-two .section-two--img {
		width: 120%;
	}
	.section-two .section-two--content {
		padding: 3.2em 3.2em 0 7em;
	}
}

@include media-query(lap-and-up) {
	.section-two .section-two--content {
		padding: 3.2em 3.2em 0 12em;
	}
}

@include media-query(desk) {
	.section-two .section-two--content {
		padding: 3.2em 3.2em 0 8em;
		h2 {
			font-size: 2.9em;
		}
	}
}

/* Section Three */

.section-three {
	position: relative;
	margin-bottom: 5em;
	.section-three--content {
		padding: 3.2em;
		text-align: center;
		p:nth-of-type(2) {
			margin-bottom: 2em;
		}
	}
	.comparison {
		display: block;
		margin: 0 auto;
		text-align: center;
		p {
			font-size: 1.4em;
			font-weight: 600;
			padding-top: 1em;
			color: $light-grey;
			margin-bottom: 3em;
		}
		img {
			width: 300px;
			height: 300px;
			border-radius: 50%;
		}
	}
	.section-three--img {
		display: none;
		height: 0;
	}
}

@include media-query(tablet-and-up) {
	.comparison-wrapper {
		margin: 0 auto;
		text-align: center;
	}
	.section-three .comparison {
		display: inline-block;
		margin: 0 1.5em 0 1.5em;
	}
	.section-three .section-three--content {
		max-width: 70%;
		margin: 0 auto;
	}
}

@include media-query(lap-and-up) {
	.section-three .section-three--content {
		text-align: left;
		margin: 0;
		max-width: 70%;
	}
}



/*
.btn-centered {
	text-align: center;
}

*/




/*
.section-three,
.section-four {
	margin: 0 auto;
	text-align: center;
	padding: 3.2em;
	img {
		border-radius: 50%;
	}
	h2 {
		margin-bottom: 1em;
	}
}

.section-image {
	display: none;
	height: 0px;
}

@include media-query(tablet-and-up) {
	.section-image {
		display: block;
		height: 100%;
	}
}
*/