.contact {
	text-align: center;
}

.contact--method {
	text-align: left;
	margin-bottom: 2em;
}

@include media-query(tablet-and-up) {
	.contact--method {
		.contact-method--right {
			text-align: right;
		}
	}
}