.woundcare-range--mobile {
	visibility: visible;
	height: 100%;
	tr {
		td {
			display: block;
		}
	}
}

@include media-query(tablet-and-up) {
	.woundcare-range--mobile {
		visibility: hidden;
		display: none;
	}
}

.woundcare-range--desktop {
	visibility: hidden;
	display: none;
}

@include media-query(tablet-and-up) {
	.woundcare-range--desktop {
		visibility: visible;
		display: table;
	}
}
