html,
body {
	overflow-x: hidden;
	background-color: black;
}

.visuallyhidden {
	@include visuallyhidden;
}


// Wraps

.wrap {
	max-width: 100em;
	margin: 0 auto;
	padding: 1.5em;
}
.wrap--pseudo-img {
	position: relative;
	z-index: 1;
}


// Major page sections



.solid {
	padding: 1em;
}


// Positioning

.t-right {
	text-align: right;
}

.t-left {
	text-align: left;
}

.t-center {
	text-align: center;
}