input {
	padding: 0.875em 0.75em;
	background-color: transparent;
	border: 1px solid $light-grey;
	color: $light-grey;
	margin-bottom: 0.5em;
	width: 100%;
	&::-webkit-input-placeholder {
	  color: $light-grey;
	  font-weight: 400;
	}
	
	&:-moz-placeholder { /* Firefox 18- */
	  color: $light-grey;
	  font-weight: 400;
	}
	
	&::-moz-placeholder {  /* Firefox 19+ */
	  color: $light-grey;
	  font-weight: 400;  
	}
	
	&:-ms-input-placeholder {  
	  color: $light-grey;
	  font-weight: 400;  
	}
}

textarea {
	@extend input;
	height: auto;
	min-height: 20em;
	overflow: hidden;
}


@include media-query(desk) {
	input {
		display: inline-block;
	}
}