.about {
	position: relative;
	background: url(/assets/img/horses-2.jpg) no-repeat left bottom;
	background-size: 120%;
	background-color: #8A705F;
}

.about-intro {
	text-align: center;
	h3 {
		&:after {
			content: "";
			display: block;
			width: 3em;
			height: 1px;
			background-color: white;
			margin: 1em auto;
		}
	}
}
