.section--woundcare-for-animals {
	h1 {
		padding: 0 0 1em 0.5em;
		position: relative;
		z-index: 40;
		max-width: 65%;
	}
	.hero--subheading {
		right: 0;
		text-align: right;
		padding: 3em 1em 2em 0;
		margin: 0 0 0 5em;
		max-width: 80%;
	}
	&:before {
		background: url(/assets/img/horse--mobile.jpg) no-repeat center center;
		background-size: cover;
		height: 280px;
		width: 180px;
		z-index: -1;
		top: 230px;
		left: -50px;
	}
	&:after {
		background: url(/assets/img/dog-cat.jpg) no-repeat center center;
		background-size: cover;
		height: 280px;
		width: 180px;
		z-index: -1;
		right: 0;
		top: -30px;
	}
}

@include media-query(phablet-and-up) {
	.section--woundcare-for-animals {
		h1 {
			max-width: 55%;
		}
		.hero--subheading {
		}
		&:before {
			height: 320px;
			width: 220px;
		}
		&:after {
			height: 360px;
			width: 260px;
		}
	}
}

@include media-query(tablet-and-up) {
	.section--woundcare-for-animals {
		padding-top: 1.5em;
		h1 {
			Max-width: 55%;
		}
		&:before {
			height: 320px;
			width: 220px;
		}
		&:after {
			height: 480px;
			width: 380px;
		}
	}
}

@include media-query(lap-and-up) {
	.section--woundcare-for-animals {
		padding-top: 3em;
		h1 {
			text-align: center;
			margin: 0 auto;
			padding: 1em 0;
		}
		.hero--subheading {
			text-align: center;
			margin: 0 auto;
			padding: 1em 0;
			max-width: 18em;
		}
		&:before {
			height: 600px;
			width: 300px;
		}
		&:after {
			height: 460px;
			width: 360px;
		}
	}
}