.section--woundcare-for-animals {
	position: relative;
	
	h1 {
		text-align: left;
		margin-right: 40%;
		margin-bottom: 3em;
	}
	.hero--subheading {
		text-align: right;
		margin-left: 40%;
	}
	.wrap {
		position: relative;
		&:before,
		&:after {
			position: absolute;
			content: '';
			z-index: -1;
		}
		// Horse
		&:before {
			background: url(/assets/img/black-horse.jpg) no-repeat center center;
			background-size: cover;
			height: 300px;
			width: 130px;
			bottom: 0;
			left: 0;
		}
		// DogCat
		&:after {
			background: url(/assets/img/dog-cat.jpg) no-repeat center center;
			background-size: cover;
			height: 280px;
			width: 180px;
			right: -20px;
			top: 0;
		}
	}
}


@include media-query(phablet-and-up) {
	.section--woundcare-for-animals {
		h1 {
			margin-right: 30%;
			margin-bottom: 4em;
		}
		.hero--subheading {
			margin-left: 45%;
			margin-bottom: 2em;
		}
		.wrap {
			// Horse
			&:before {
				height: 425px;
				width: 200px;
			}
			// DogCat
			&:after {
				height: 415px;
				width: 270px;
				right: -2em;
			}
		}
	}
}

@include media-query(tablet-and-up) {
	.section--woundcare-for-animals {
		margin-bottom: 5em;
		h1 {
			position: relative;
			text-align: center;
			margin: 0 auto 3em;
			max-width: 60%;
			&:after {
				content: "";
				display: inline-block;
				height: 27px;
				width: 50px;
				left: 50%;
				margin-left: -25px;
				background: url(/assets/img/down.png) no-repeat;
				position: absolute;
				bottom: -80%;
			}
		}
		.hero--subheading {
			position: static;
			text-align: center;
			margin: 0 auto;
			max-width: 60%;
		}
		.wrap {
			// Horse
			&:before {
				height: 527px;
				width: 312px;
				top: -7em;
				left: -4em;
			}
			// DogCat
			&:after {
				height: 360px;
				width: 260px;
			}
		}
	}
}

@include media-query(lap-and-up) {
	.section--woundcare-for-animals {
		margin-bottom: 5em;
		h1 {
			position: relative;
			text-align: center;
			margin: 0 auto 3em;
			max-width: 60%;
			&:after {
				content: "";
				display: inline-block;
				height: 27px;
				width: 50px;
				left: 50%;
				margin-left: -25px;
				background: url(/assets/img/down.png) no-repeat;
				position: absolute;
				bottom: -75%;
			}
		}
		.hero--subheading {
			position: static;
			text-align: center;
			margin: 0 auto;
			max-width: 50%;
		}
		.wrap {
			// Horse
			&:before {
				height: 730px;
				width: 440px;
				top: -9em;
				left: -10em;
			}
			// DogCat
			&:after {
				height: 460px;
				width: 360px;
				right: -8em;
			}
		}
	}
}

@include media-query(desk) {
	.section--woundcare-for-animals {
		h1 {
			padding: 0.5em 0;
			position: relative;
			margin-bottom: 3em;
			max-width: 60%;
			&:after {
				bottom: -40%;
			}
		}
		.hero--subheading {
			text-align: center;
			max-width: 60%;
		}
		.wrap {
			// Horse
			&:before {
				height: 1000px;
				width: 600px;
				left: -15em;
			}
			// DogCat
			&:after {
				height: 750px;
				width: 600px;
				top: 0em;
				right: -15em;
			}
		}
	}
}