.section-suprasorb {
	.wrap {
		position: relative;
		&:before,
		&:after {
			position: absolute;
			content: '';
		}
		&:after {
			background: url(/assets/img/suprasorb/Suprasorb-A+Ag.png) no-repeat center top;
			background-size: contain;
			height: 100%;
			width: 100%;
			top: 0;
		}
	}
	h1 {
		margin-top: 95%;
	}
}

@include media-query(lap-and-up) {
	.section-suprasorb {
		.wrap {
			&:after {
				height: 100%;
				width: 100%;
				top: 0;
				right: -20em;
			}
	
			h1 {
				margin-top: 0;
			}
		}
	}
}
