html,
body {
	overflow-x: hidden;
	background-color: black;
}

//body {
//	font-family: $base-font-family;
//	line-height: $base-line-height;
//	font-weight: normal;
//	background-color: $background;
//	color: $base-font-color;
//}

// Wraps

.wrap {
	width: 95%;
	max-width: 1024px;
	margin: 0 auto;
}

.wrap--header {
	position: relative;
	background-color: transparent;
	height: 5em;
	border-bottom: 1px solid $light-grey;
}

// Major page sections

.solid {
	padding: 1em;
}

.section--grey {
	@extend .solid;
	background-color: $dark-grey;
}

// Positioning

.t-right {
	text-align: right;
}

.t-left {
	text-align: left;
}

.t-center {
	text-align: center;
}
