.tab {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;

	li {
		border-top: 2px solid $light-grey;
	}
}

@include media-query(desk) {
	.tab {
		li {
			display: inline-block;
			padding: 1.5em;
			border-top: 0;
		}
	}
}