.actiform-hero {
	position: relative;
	background: url(/assets/img/actiformcool/actiformcool.png) no-repeat center top;
	background-size: 90%;
	.actiform-content {
		padding-top: 90%;
	}
}

@include media-query(lap-and-up) {
	.actiform-hero {
		background-position: 115% 0%;
		background-size: 56%;
		.actiform-content {
			padding-top: 10%;
		}
	}
}

@include media-query(desk) {
	.actiform-hero {
		background-position: 110% 45%;
		background-size: 37%;
	}
}

.actiform-slider {
	text-align: center;
	height: 800px;
	margin: 0 auto;
	padding: 2em;
}

@include media-query(tablet-and-up) {
	.actiform-slider {
		padding: 3em 8em;
	}
}

@include media-query(lap-and-up) {
	.actiform-slider {
		padding: 3em 4em;
	}
}

@include media-query(desk) {
	.actiform-slider {
		padding: 3em 14em;
		h2 {
			padding: 1.5em 1em 0.5em;
		}
	}
}









/*
	.actiform-slider--content {
		padding: 0 10em;
		margin-bottom: 4em;
		
	}
*/